<%= form_with(model: customer) do |form| %>
    <% if customer.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

        <ul>
          <% customer.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  <div class="form-row justify-content-center">
    <div class="form-group col">
      <%= form.label :first_name %>
      <%= form.text_field :first_name, class: 'rounded border-info' %>
    </div>

    <div class="form-group col ">
      <%= form.label :last_name %>
      <%= form.text_field :last_name, class: 'rounded border-info' %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <%= form.label :phone %>
      <%= form.text_field :phone, class: 'rounded border-info' %>
    </div>

    <div class="form-group col">
      <%= form.label :email %>
      <%= form.text_field :email, class: 'rounded border-info' %>
    </div>
  </div>

  <div class="row justify-content-center my-5">
    <button type="submit mx-auto" class="btn btn-info">Save Customer</button>
  </div>

<% end %>

