<%= form_for(order) do |f| %>
    <% if order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>
  
        <ul>
        <% order.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-col justify-content-center">
      <div class="form-group col">
        <%= f.label :product_name %>
        <%= f.text_field :product_name, class: 'rounded border-info' %>
      </div>

      <div class="form-group col ">
        <%= f.label :product_count %>
        <%= f.text_field :product_count, class: 'rounded border-info' %>
      </div>
    

      <div class="form-group col">
        <%= f.label :select_customer %>
        <%= f.collection_select :customer_id, Customer.all, :id, :full_name, include_blank: true %>
      </div>
    </div>

  <div class="row justify-content-center my-5">
    <button type="submit" class="btn btn-info">Save Order</button>
  </div>

<% end %>  


